.btn {
    width: 300px;
    height: 80px;
    background: linear-gradient(135deg, #6366f1, #a78bfa);
    /* blue to purple */
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(99, 102, 241, 0.5);
    opacity: 0;
}

.toast {
    width: 300px;
    height: 200px;
    background: linear-gradient(135deg, #6366f1, #a78bfa);
    /* blue to purple */
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(99, 102, 241, 0.5);
    opacity: 0;
}

.card {
    width: 250px;
    height: 300px;
    background: linear-gradient(135deg, #6366f1, #a78bfa);
    /* blue to purple */
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(99, 102, 241, 0.5);
    opacity: 0;
}

